body{
    margin: 0px;
    padding: 0px;
    background: #d2d2d2
}
.Back{
    height: 250px;
    width: 400px;
    background: red;
    border-radius: 10px;
    
}
.JapSun{
    background: red;
    height: 124px;
    width: 124px;
    border-radius: 50%;
    transform: translateX(138px) translateY(62px);
    }
.Flags{
    
}
.UssrTools{
    height: 75px;
    transform:  translateX(20px) translateY(20px);
}
.UssrFlag{
    transform: translateX(420px) translateY(-250px)
}
.CanadaFlag{
    transform: translateX(840px) translateY(-500px);
}
.Canada__Leaf{
    height: 200px;
    transform: translateY(20px);
    
}
.CanadaLine{
    background: white;
    height: 250px;
    width: 175px;
    transform: translateX(110px)
}
